[Unit]
Description=webthing-example
After=network.target

[Service]
ExecStart=/usr/local/opt/webthing-node/extra/systemd/webthing-example.sh
Restart=always

[Install]
WantedBy=multi-user.target
